.background {
	background-image: url("IMG/background.png");
}
.logo {
	background-image: url("IMG/logo.png");
}
.menu {
	height: 35px;
	background-color: lightgrey;
	opacity: 0.85;
	border: 3px solid black;
	margin: 15px;
	overflow: hidden;
	font-family: sans-serif;
	font-style: arial;
	font-size: 26px;
	font-weight: bold;
}
.container {
  display: flex;
  flex-direction: column;
}
.ctnFlex{
  display: flex;
  justify-content: space-between;
}
.box1 {
	background-color: lightgrey;
	display: inline-block;
	position: relative;
	width: 514px;
	height: 660px;
	border: 3px solid black;
	padding: 1px solid black;
	margin: 15px;
}
.box2 {
	position: absolute;
	top: 15%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
.box3 {
	position: absolute;
	top: 85%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
p.conteudo {
	position: absolute;
	font-family: sans-serif;
	font-style: arial;
	font-size: 26px;
	font-weight: bold;
	top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
embed.conteudo {
	position: absolute;
	font-family: sans-serif;
	font-style: arial;
	font-size: 26px;
	font-weight: bold;
	top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}