.background {
	background-image: url("IMG/background.png");
}
.logo {
	background-image: url("IMG/logo.png");
}
.container {
  display: flex;
  flex-direction: column;
}
.ctnFlex{
  display: flex;
  justify-content: space-between;
}
.box1 {
	background-color: lightgrey;
	display: inline-block;
	position: relative;
	width: 514px;
	height: 660px;
	border: 3px solid black;
	padding: 1px solid black;
	margin: 15px;
}
.box2 {
	position: absolute;
	top: 15%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
.box3 {
	position: absolute;
	top: 85%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
.box4 {
	background-color: lightgrey;
	display: inline-block;
	position: relative;
	width: 1800px;
	height: 660px;
	border: 3px solid black;
	padding: 1px solid black;
	margin: 15px;
	opacity: 0.9;
}
.boxconsole {
	border: 1px solid black;
	width: 203px;
	height: 203px;
	padding: 0px;
	margin: 5px;
	position: relative;
	display: inline-block;
}
.boximgconsole {
	width: 400px;
	height: 400px;
	left: 75%;
	top: 10%;
	padding: 0px;
	margin: 5px;
	position: relative;
	display: inline-block;
}
p.conteudo {
	position: absolute;
	font-family: sans-serif;
	font-style: arial;
	font-size: 26px;
	font-weight: bold;
	top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
p.contconsole {
	position: absolute;
	font-family: sans-serif;
	font-style: arial;
	font-size: 16px;
	font-weight: bold;
	top: 50%;
    left: 20%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
/*MENU*/
* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

#menu-h{
    background-color: rgb(37, 37, 39);
}

#menu-h ul {
    max-width: 800px;
    list-style: none;
    padding: 0;
}

#menu-h ul li {
    display: inline;
}

#menu-h ul li a {
    color: #FFF;
    padding: 20px;
    display: inline-block;
    text-decoration: none;
    transition: background .4s;
}

#menu-h ul li a:hover {
    background-color: rgb(24, 139, 233);
}

#menu-h ul li:last-child a {
    float: right;
    background-color: rgb(24, 139, 233);
}